@charset "UTF-8";
/*  Team 11 CSS Document */


.button{
    height: 30px;
    line-height: 28px;
    padding: 0 12px 2px;
}

.button.button-color {
    background: #00a0d2;
    border-color: #0073aa;
    -webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
    color: #fff;
    text-decoration: none;
}